.btn-primaryy {
    --tw-border-opacity: 1 !important;
    border-color: rgb(var(--color-primary) / var(--tw-border-opacity)) !important;
    --tw-bg-opacity: 1 !important;
    background-color: rgb(var(--color-primary) / var(--tw-bg-opacity)) !important;
    --tw-text-opacity: 1 !important;

    color: aliceblue !important;
}

.aktip {
    background-color: white;
    color: #064E3B !important;
    border-end-end-radius: 20px;
    border-start-end-radius: 20px;
    padding: 8px 0px 8px 20px !important;
    margin-left: 2px;
    font-weight: bold !important;
}